body{}

@keyframes proko{
	0%{
		opacity: 100%; filter: blur(4px);
	}
	50%{opacity: 20%;filter: blur(0px);}

	100%{opacity:100%;filter: blur(5px);}
}

p{
	font-size: 3em;
	color: #b9d1f7;
	filter: blur(3px);
}
html{
	font-family: 'Noto Serif KR', serif; 
	background-color: black
}
.suzy1{
	z-index: -10;
	position: absolute;
	display:inline-block;
}
.suzy2{
	z-index: 20;
	position: absolute;
	display:inline-block;
	left: 800px;	
	animation-name: proko;
	animation-duration: 13s;
	animation-iteration-count: infinite;
}
.suzy3{
	z-index: 30;
	position: absolute;
	display:inline-block;
	top: 400px;
	animation-name: proko;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
.suzy4{
	z-index: -40;
	position: absolute;
	display:inline-block;
	left: 950px;
	top: 300px;
	animation-name: proko;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}
.suzy5{
	z-index: 0;
	position: absolute;
	display:inline-block;
	text-align: center;
	transition-property: all;
	transition-duration: 3s;

	animation: opacityToZero;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;

}
.suzy5:hover{
	transform: :rotate(180deg);
	animation-play-state: running;
	filter: blur(5px);
	opacity: 40%
}


}


.bg{
	z-index: -100;
	position: absolute;
	display:inline-block;
	width: 100%;
	height: auto;
}

.q1{
	position: absolute;
	display:inline-block;
	z-index: 70;
	left: 100px;
	top: -100px;
	font-size: 10em;
	color: #263c81;
}

.w1{
	position: absolute;
	display:inline-block;
	z-index: 70;
	left: 140px;
	top: 500px;
	font-size: 7em;
	color: #263c81;}

.e1{
	position: absolute;
	display:inline-block;
	z-index: 70;
	left: 1000px;
	top: 200px;
	font-size: 12em;
	color: #263c81;
}

.r1{
	position: absolute;
	display:inline-block;
	z-index: 70;
	left: 1000px;
	top: -100px;
	font-size: 4em;
	color: #263c81;
}

.t1{
	position: absolute;
	display:inline-block;
	z-index: 70;
	left: 400px;
	top: -200px;
	font-size: 6em;
	color: #263c81;
}

.y1{
	position: absolute;
	display:inline-block;
	z-index: 70;
	left: 500px;
	top: 600px;
	font-size: 6em;
	color: #263c81;
}

.q{
	position: absolute;
	display:inline-block;
	z-index: 870;
	left: 300px;
	top: -100px;
	font-size: 6em;
	color: #000000;
	filter: blur(5px);
	opacity: 40%;
}

.w{
	position: absolute;
	display:inline-block;
	z-index: 870;
	left: 400px;
	top: 200px;
	font-size: 6em;
	color: #000000;
	filter: blur(5px);
	opacity: 40%;
}

.e{
	position: absolute;
	display:inline-block;
	z-index: 870;
	left: 200px;
	top: 400px;
	font-size: 6em;
	color: #000000;
	filter: blur(5px);
	opacity: 40%;
}

.r{
	position: absolute;
	display:inline-block;
	z-index: 870;
	left: 800px;
	top: -50px;
	font-size: 6em;
	color: #000000;
	filter: blur(5px);
	opacity: 40%;
}

.t{
	position: absolute;
	display:inline-block;
	z-index: 870;
	left: 1000px;
	top: 00px;
	font-size: 6em;
	color: #000000;
	filter: blur(5px);
	opacity: 40%;
}


.y{
	position: absolute;
	display:inline-block;
	z-index: 870;
	left: 900px;
	top: 400px;
	font-size: 6em;
	color: #000000;
	filter: blur(5px);
	opacity: 40%;
}

.last{
	font-size: 0.25em;
	color:#b9d1f7;
	text-align: center;

}


